{% extends '../base.html' %}
{% load i18n %}

{% block content %}
<section class="row">
<div class="card shadow p-5 col-md-8 col-lg-6 mx-auto mt-5">
  <div class="card-header">
    <h3>E-mail Addresses</h3>
  </div>
  <div class="card-body">
    <p class="card-text">The following e-mail addresses are associated with your account:</p>
  </div>
  <form action="{% url 'account_email' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% for emailaddress in user.emailaddress_set.all %}
        <div>
            <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %} text-primary {% endif %}">
            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %} checked="checked" {%endif %} value="{{emailaddress.email}}"/>
            {{ emailaddress.email }}
            {% if emailaddress.verified %}
                    <span class="verified">Verified</span>
            {% else %}
                <span class="unverified">Unverified</span>
            {% endif %}
            {% if emailaddress.primary %}<span class="primary">Primary</span>{% endif %}
            </label>
        </div>
    {% endfor %}
    <div class="d-flex my-3">
        <button class="btn btn-primary btn-sm" type="submit" name="action_primary" >Make Primary</button>
        <button class="btn btn-secondary btn-sm mx-3" type="submit" name="action_send" >Re-send Verification</button>
        <button class="btn btn-success btn-sm" type="submit" name="action_remove" >Remove</button>
    </div>
    </fieldset>
  </form>
  <section>
    <h2>Add Email Address</h2>
    <form action="{% url 'account_email' %}" method="post">
        {% csrf_token %}
    <div class="mb-3">
    <label for="email" class="form-label">Enter Email address: </label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
  </div>
    <button class="btn btn-primary" name="action_add" type="submit">Add E-mail</button>
    </form>
  </section>
</div>
</section>

{% endblock%}



{% block js%}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock%}