{% extends '../base.html' %}
{% load i18n %}
{% block content %}
      {% if token_fail %}
      <h1 class="text-center mt-5">Bad Token</h1>
      {% else %}
      <h1 class="text-center mt-5">Change Password</h1>
      {% endif %}

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<section class="mt-5">
<div class="card mt-5 mx-auto p-3" style="width: 30rem;">
  <div class="card-body">
    <h4 class="card-title text-primary mb-3">
      Invalid Password Link
    </h4>
    <p class="card-text">The password reset link was invalid, possibly because it has already been used.  </p>
    <p class="card-text">Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
  </div>
</div>
</section>

{% else %}
<section class="row mt-5">
<form class="mt-2 col-md-6 mx-auto shadow p-5" action="{{action_url}}" method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label for="password1" class="form-label">Password: </label>
    <input type="password" class="form-control" id="password1" name="password1" required>
  </div>

  <div class="mb-3">
    <label for="password2" class="form-label">Password(again):</label>
    <input type="password" class="form-control" id="password1"  name="password2" required>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    </form>
</section>
{% endif %}
{% endblock %}