{% extends '../base.html' %}
{% load i18n %}
{% block content %}
<section class="row mt-5">
<form class="mt-2 col-md-6 mx-auto shadow p-5" action="{% url 'account_change_password' %}" method="post">
    <h1 class="mb-3">Password Change</h1>
      <section  class="mb-3">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="my-2">
                <strong class="text-danger">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="my-2">
            <strong class="text-danger">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
  </section>

    {% csrf_token %}
  <div class="mb-3">
    <label for="oldpassword" class="form-label">Old Password: </label>
    <input type="password" class="form-control" id="oldpassword" name="oldpassword" required>
  </div>

  <div class="mb-3">
    <label for="password1" class="form-label">New Password:</label>
    <input type="password" class="form-control" id="password1"  name="password1" required>
  </div>

  <div class="mb-3">
    <label for="password2" class="form-label">New Password(again):</label>
    <input type="password" class="form-control" id="password2"  name="password2" required>
  </div>

<section class="d-flex align-items-center">
  <button type="submit" class="btn btn-primary mt-3">Change Password</button>
 <a class="mx-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</section>
    </form>
</section>

{% endblock%}