{% extends '../base.html' %}
{% load i18n %}

{% block content %}

<section class="w-100 mt-5">
<div class="card w-50 shadow p-3 mx-auto mt-5">
  <div class="card-header">
    <h4 class="text-primary">    Email Confirmation
</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">Verify Your E-mail Address</h4>
    <p class="card-text">
        We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.  </p>
    <p class="card-text"> If you do not see the verification e-mail in your main inbox, check your spam folder.</p>
    <p class="card-text">Please contact us if you do not receive the verification e-mail within a few minutes.
   </p>
  </div>
</div>
</section>

{% endblock %}