{% extends "./base.html" %} {% block content %}

<div class="jumbotron mt-5">
  <h1 class="display-4">Welcome To Our Todo App !</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p class="lead">
    Login or Register so That you can start Using our Application
  </p>
  <div>
    <a class="btn btn-outline-primary" href="{% url 'account_signup' %}" role="button">Register</a>
    <a class="btn btn-outline-primary" href="{% url 'account_login' %}" role="button">Login</a>
  </div>
</div>

{% endblock%}
